.rating-component {
    border: .5px solid rgba(128, 128, 128, 0.297);
    width: 50rem;
    padding: 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-name {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
}
.rating-add-rating {
    font-family:  "Poppins", sans-serif;
    font-size: 1.75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}
.rating-page-container {
    margin-left: 17rem;
}
.rating-elements > * {
    margin: 1.5rem 0;
}
.rating-submit-btn {
    background-color: black;
    color: white;
    border-radius: 1.5rem;

    font-family:  Helvetica, sans-serif;
    padding: .75rem 3rem;
    border: 0.5px solid rgb(98, 0, 255);
    font-size: 1rem;
    font-weight: 600;
    float: right;
    cursor: pointer;

}

.rating-subtitle {
    font-family:  Helvetica, sans-serif;
    font-weight: 700;
}

.rating-text-review {
  width: 45rem;
  padding: 1rem;
  margin: 1rem 0;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 4px;
  color: #333;
  resize: none;
  height: 150px; 
  box-sizing: border-box;
}
