.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.6); 
    
    z-index: 2; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: white; 
    max-width: 500px; 
    width: 30vw;
    padding: 40px 20px;
    height: 65vh;
    overflow-y: hidden; 
    margin: 0; 
    position: relative; 
}

.signup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.signup-content > * {
    margin: 1rem;
}

.close-btn {
    position: absolute;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.signup-end-container {
    display: flex;
    flex-direction: column;
    /* margin-top: 20%; */
    align-items: center;
}