.home-header {
    font-family: Helvetica, sans-serif;
    background-color: whitesmoke;
    height: 150px;
    padding: .5rem 1.5rem;
}
.account-buttons > button {
    font-family:  Helvetica, sans-serif;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    float: right;
}

.account-buttons > .sign-up {
    background-color: black;
    color: white;
    border-radius: 1rem;
}
.account-buttons > button:hover {
    cursor: pointer;
}
.account-buttons > .sign-up:hover {
    background-color: rgb(44, 44, 44);
}
.account-buttons > .log-in:hover {
    text-decoration: underline;
}


.home-body {
    background-color: rgb(35, 35, 35);
    height: 400px;
    text-align: center;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home-body > input {
    width: 600px;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.25rem;
}
.home-body > button {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
}


.home-body > h1 {
    color: white;
    font-weight: 100;
    font-family:  Helvetica, sans-serif
}