.image-radios {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.image-radio {
  margin: .5rem 0;
  width: 3rem;        
  height: 3rem;
  border-radius: 50%;      
  border: 2px solid #cfcfcf;
  cursor: pointer;
  outline: none;
  display: inline-block;
  background-size: 0%;
}
.image-radio:hover {
  background-size: 100%;
  opacity: 50%;
}

.image-radio.selected {
  background-size: 100%;
}

.image-radio:focus {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}
